
#mynavi{
	background-color: white;
	box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
#mynavi .container .mynaviItem{
	color: #354046;
}
#mynavi .container a {
	color: #354046;
	text-decoration: none;
	font-size: 20px;
}
#mynavi .container a:hover {
	color: #0188df;
}
#mynavi .container .logo span{
	color: #0188df;
	font-size: 25px;
}
#mynavi .container .logo {
	font-size: 25px;
}
.navbar .dropdown-menu {
	background-color: #354046;
	color:#0188df;
}
.navbar .dropdown-menu li:hover {
	background-color: #354046;
}
.button {
	height: 40px;
	width: 150px;
	background: #0188df;
	color: #fff;
	text-transform: capitalize;
	border-radius: 0.5rem;
	cursor: pointer;
	position: relative;
	font-size: 18px;
	border: none;
	margin-left: 20px;
}
.button:hover {
	box-shadow: 0.1rem 0.3rem #354046, 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
