<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- addons -->
    <link rel="stylesheet" href="addOns/navbar.css">
    <link rel="stylesheet" href="addOns/footer.css">

    <!-- custom styles -->
    <link rel="stylesheet" href="sass/blogeHome.css">
    <title>DoctorCO | Blog Home</title>
</head>
<body>
    <header id="header"></header>

    
    	<!-- to keep the header away from the content -->
		<div class="spacer"></div>
		<!-- bage heading -->
		<div class="headerTitle">
			<h1 class="heading">
				<span>'</span>Bloge Space<span>'</span>
			</h1>
		</div>
        <section class="filterSection">
			<div class="filter">
				<!--  -->
				
                <div class="input-group">
					<select id="categories" class="form-select form-control">
						<option disabled selected>select Category</option>
					  </select>				  
					</div>
					<div class="input-group">
						<input id="search" type="text"  placeholder="Search..." class="form-control">
						<button id="searchBtn" class="buttonReverse">Search</button>
                        <ul id="autocompleteList">
                        </ul>
					  </div>
				
			</div>
		</section>
        <section class="post" id="post">
			<div class="container min-vh-100">

				<div id="postWrapper" class="box-container">
					
				</div>
			</div>
		</section>
    <footer id="footer"></footer>
    <!-- boostrap pooper and js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- jquery cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- addons -->
    <script src="js/addOns.js"></script>
    <script src="js/blogeHome.js"></script>
    
    <script>
       
    </script>

</body>
</html>