@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
}
html{
	overflow-x: hidden;
}
.main {
	width: 100%;
	background-color: #fff;
}
.MYside-navbar {
	position: fixed;
	z-index: 100;
	height: 100vh;
	background: #354046;
	overflow: hidden;
	transition: 0.5s ease;
}
.MYside-navbar ul {
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
}
.MYside-navbar ul li {
	width: 100%;
}
.MYside-navbar ul li:hover {
	background: #0188DF;
}
.MYside-navbar ul li:first-child {
	margin-bottom: 1rem;
	background: none;
}
.MYside-navbar ul li a {
	display: block;
	width: 100%;
	display: flex;
	color: #fff;
}
.MYside-navbar ul li a .icon {
	min-width: 60px;
	display: block;
	font-size: 25px;
	line-height: 60px;
	height: 60px;
	text-align: center;
}
.MYside-navbar ul li a .text {
	display: block;
	padding: 0 10px;
	line-height: 60px;
	height: 60px;
	white-space: nowrap;
}
.content {
	position: absolute;
	min-height: 100vh;
	transition: 0.5s ease;
	background-color: #0188df;
}
.top-navbar {
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	padding: 7px 20px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
	z-index: 10;
	background-color: #354046;
}
.spacer{
	height: 80px;
	width: 100%;
}
.profile img {
	width: 44px;
	height: 44px;
	object-fit: contain;
	object-position: center;
	border-radius: 50%;
	cursor: pointer;
}
#menu-icon {
	font-size: 34px;
	cursor: pointer;
}
.content.active {
	width: calc(100% - 60px);
	left: 60px;
}
.content {
	width: 100%;
	left: 0;
}
.MYside-navbar {
	width: 60px;
	left: -60px;
}
.MYside-navbar.active {
	left: 0;
}
.statsContainer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.statsContainer .stats {
	width: 300px;
	height: 100px;
	background-color: #EEEEEE;
	margin: 10px;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
	
}
.statsContainer .stats .title{
	color: #354046;
	font-weight: 600;
}
.statsContainer .stats .Holder i{
	color: #0188DF;
	margin-left: 15px;
}


.statsContainer .stats .Holder .numberHolder{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #354046;
	height: 50px;
	width: 50px;
	color: white;
	float: right;
	border-radius: 50%;
	font-weight: 500;
	margin-right: 15px;
	font-size: larger;
}

.statsContainer .stats .Holder{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.OperationContainer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	height: 200px;
}
.formContainer {
	padding: 10px;
	width: 100%;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
.formContainer .registerForm {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.mar{
	margin-bottom: 5px;
}
.zindex{
	z-index: 100;
}
.inputInline{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .inputInline input{
    width: 49%;
  }
  .inputInline select{
    width: 49%;
  }
/* table style section */

.button {
	background-color:#0188DF;
	color: #fff;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
	width: 90px;
	height: 30px;
	text-align: center;
}

.button:hover {
	box-shadow: 2px 2px black, 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}
/* admin dash footer style */
.footer{
	width: 100%;
	height: 100px;
	background-color: #354046;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	
}
.footer .footerSection img{
width: 100px;
}
.footer .footerSection h5{
	color: white;

}
.footer .footerSection i{
	margin-left: 10px;
	color: white;
}
		
.footer .footerSection{
	width: 33%;
	display: flex;
	align-items: center;
	justify-content: center;
	}
/* admin dash footer style */


.inputInline{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
 .inputInline input{
    width: 49%;
  }
  .locationSpecialityHolder{
	margin-bottom: 120px;
	width: 90%;
	display: flex; 
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #0188DF;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 50%);	
  }



/*new table design start */
.newTableWrapper{
	margin-top: 30px;
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap-reverse;
  }
  .Dscroll{
	  height: 460px;
	  overflow-y: scroll;
  }
  .scrollUser{
	height: 362px;
	overflow-y: scroll;
  }
  .newTableWrapper .tableWrapper{
	  width: 55%;
	  height: auto;
	  background-color: white;
		border-radius: 10px;
		box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
  }
  .newTableWrapper .tableWrapper .container{
	width: 100%;
}
.chartjsHolder{
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;


}

.chartJSline{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}
.chartJSpie{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}
/*user data table*/
.userDataTableHolder{
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 130px;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.userDataTableHolder .userDataTable{
	width: 65%;
	border-radius: 10px;
	padding: 0;
	box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
	display: flex;
	align-self: center;
	justify-content: center;
	background-color: white;
}
.userDataTableHolder .locationSpeciality {
	width: 30%;
	height: 480px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
	background-color: white;
	padding: 10px;
}


  /*new table design end */
@media (max-width: 768px) {

	.newTableWrapper .tableWrapper{
		width: 90%;

	}
	.chartjsHolder{
		width: 90%;
		margin-bottom: 20px;
	
	}
	.userDataTableHolder .userDataTable{
		width: 90%;
	}
	.content {
		width: 100%;
		left: 0;
	}
	.MYside-navbar {
		width: 60px;
		left: -60px;
	}
	.MYside-navbar.active {
		left: 0;
	}
	
	.formContainer {
		width: 100%;
		display: flex;
	}

	.userDataTableHolder .locationSpeciality {
		width: 90%;
		margin-bottom: 10px;
	}
	.footer{
		width: 100%;
		height: 200px;		
		
	}
	.footer .footerSection{
	width: 100%;
	}
}


