<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>DoctorCO | Admin dashboard</title>
		<link rel="stylesheet" href="sass/doshboard.css">
		<link rel="stylesheet" href="Bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="sass/table.css">

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />

		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

	<script>
		if (sessionStorage.getItem("role") != "admin") {
			window.location.href = "index.html";
		}
		</script>
	</head>
	<body>
		<div class="main">
			<div class="MYside-navbar">
				<ul>
					<li>
						<a href="index.html">
							<span class="icon"
								><abbr style="cursor: pointer;" title="GO back home"><i class="fas fa-tachometer-alt"></i></abbr></span>
							<span class="text"><h2>DoctorCo</h2></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon"
								><i class="fas fa-home"></i
							></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon"
								><i class="fas fa-plus-square"></i
							></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon"
								><i class="fas fa-comments"></i
							></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon"
								><i class="fas fa-user"></i
							></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon"
								><i class="fas fa-upload"></i
							></span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="icon"
								><i class="fas fa-cog"></i>
							</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span id="logoutDashboard" class="icon"
								><abbr style="cursor: pointer;" title="logout"><i
									class="
										fas
										fa-sign-out-alt fa-flip-horizontal
									"
								></i
							></abbr></span>
						</a>
					</li>
				</ul>
			</div>
			<div class="content">
				<div class="top-navbar">
					<div style="color: white;" class="fas fa-bars" id="menu-icon"></div>
					<div class="profile">
						<img src="images/admin.JPG" alt="" />
					</div>
				</div>
				<div class="spacer"></div>
				<div class="ContenCcontainer">
					<div class="statsContainer">

						<div  class="stats">
							<p class="title">Number of doctors</p>
							<div class="Holder">
								<i class="fas fa-user-md fa-3x"></i>
								<div id="doctorCount" class="numberHolder"></div>
							</div>
						</div>
							
						<div class="stats">
							<p class="title">Number of Clients</p>
							<div class="Holder">
								<i class="fas fa-users fa-3x"></i>
								<div  id="userCount" class="numberHolder"></div>
							</div>
						</div>

						<div class="stats">
							<p class="title">Number of Posts</p>
							<div class="Holder">
								<i class="far fa-newspaper fa-3x"></i>
								<div id="postCount" class="numberHolder"></div>
							</div>
						</div>

						<div class="stats">
							<p class="title">Number of Messages</p>
							<div class="Holder">
								<i class="fas fa-comments fa-3x"></i>
								<div id="messageCount" class="numberHolder"></div>
							</div>
						</div>
					</div>
					</div>
					<div class="newTableWrapper">
						<div class="tableWrapper">
							<div class="container mt-2">

										<ul style="padding: 0%;" class="responsive-table">
											<li class="table-header">

											<div class="col col-1">Index</div>
											<div class="col col-2">Speciality Index</div>
											<div class="col col-3">matricule</div>
											<div class="col col-4">validation</div>
											<div class="col col-5">Actions</div>
											
										</li>
										</ul>
								
										<ul id="doctorDataHolder"  class="responsive-table Dscroll">
										
										
										</ul>
							  </div>
							  
						</div>
						<!-- chart js start -->
						<div class="chartjsHolder">
							<div class="chartJSline">	
								<canvas id="ChartJS1" style="width:100%;max-width:600px"></canvas>						
							</div>
								<div  class="chartJSpie">
 									<canvas id="ChartJS2" style="width:100%;max-width:600px"></canvas>
 								</div>
							</div>
						<!-- chart js end -->

						</div>
						<div class="userDataTableHolder">

							<div class="locationSpeciality">

								<h4 style="display: flex;align-items: center;justify-content: center;color: #0188df;margin-bottom: 20px;text-transform: uppercase;margin-top: 20px; text-align: center;">Location and speciality settings</h4>

							<label for="">Specialites</label>
								<div class="input-group mb-3">
									<select id="specialitySettings" type="text" class="form-control">
										<option disabled selected>Choose your Speciality</option>
									</select>
								</div>
								<div class="input-group mb-3">

									<input id="specialityAddition" type="text" class="form-control" placeholder="Enter New speciality" aria-label="Recipient's username" aria-describedby="button-addon2">	
									<button style="height: 40px;background-color: #354046;" onclick="addSpeciality()"  class="button" type="button" id="button-addon2">Add</button>
								</div>

								<label for="">locations</label>
								<div class="input-group mb-3">
									<select type="text" class="form-control" id="locationSettings">
										<option disabled selected>Choose your location</option>
									</select>
								  </div>
								  <div class="input-group mb-3">
									<input id="locationAddition" type="text" class="form-control" placeholder="Enter new Location..." aria-label="Recipient's username" aria-describedby="button-addon2">
										
									<button style="height: 40px;background-color: #354046;" onclick="addLocation()"  class="button" type="button" id="button-addon2">Add</button>
								  </div>
							</div>

							<div class="userDataTable">
								<div class="container mt-2">
									
									<ul style="padding: 0%;" class="responsive-table">
								
										<li class="table-header">
										<div class="col col-1">Avatar</div>
										<div class="col col-2">Role</div>
										<div class="col col-3">Username</div>
										<div class="col col-5">Phone</div>
										<div class="col col-7">Actions</div>

									  </li>
									</ul>
									
									<ul id="DataHolder" style="padding: 0%;" class=" responsive-table scrollUser">
									 
									</ul>
								  </div>
							</div>
							
						</div>
						<section class="contactMessage">
							<div id="messageHolder" class="messageHolder">
								
							</div>
						</section>
						<section class="contactMessage">
							<div class="messageHolder">
								<div class="postTable mt-2">

									<ul style="padding: 0%;" class="responsive-table">
										<li class="table-header">

										<div class="col ">Avatar</div>
										<div class="col ">Title</div>
										<div class="col ">Reaction</div>
										<div class="col ">Comment</div>
										<div class="col ">Date created</div>
										<div class="col ">Actions</div>
										
										
									</li>
									</ul>
									<ul id="doctorsPost"  class="responsive-table Dscroll">
									
									
									</ul>
						  </div>
							</div>
						</section>
						<footer class="footer">
							<div class="footerSection">
								<img src="images/DoctorCoWhite.png" alt="">
							</div>
							<div class="footerSection">
								<h5>All Right Reserved 2021</h5>
							</div>
							<div class="footerSection">
								<i class="fab fa-facebook-square fa-2x"></i>
								<i class="fab fa-linkedin fa-2x"></i>
								<i class="fab fa-twitter-square fa-2x"></i>
							</div>
							

						</footer>
						<script>						 	

						</script>
					</div>
					

					<!-- modal 1 -->
					<div class="modal fade" id="PostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="modal-title" id="exampleModalLabel">Review</h5>
							  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
							  <div id="alertSuccessReview" style="display: none;" class="" role="alert">
								post updated
							  </div>
								<input id="postID" type="hidden" name="">
								<div class="input-group mb-1">
									<img id="postimage" src="" width="100%" height="200px" alt="">
								</div>
								<div class="input-group mb-1">
									<input id="title" type="text" placeholder="Title..." name="stars" max="5" min="1" class="form-control">
								  </div>
								  <div class="input-group mb-2">
									<textarea class="form-control mb-2" placeholder="Post body..." name="content" id="content" rows="10"></textarea>
								</div>
								<div class="input-group mb-1">
									<input id="source" type="text" placeholder="Source..." name="stars" max="5" min="1" class="form-control">
								  </div>
			
								<div class="input-group mb-2">
			
									<label for="">comments controle</label>
										<div class="input-group">
											<select id="comControle" name="" class="form-control">
												<option value="Anable">Anable</option>
												<option value="Disable">Disable</option>
											</select> 
										  </div>
								 </div>
								<div class="input-group mb-1">
			
									<label for="">dislikes controle</label>
										<div class="input-group">
											<select id="likeControle" name="" class="form-control">
												<option value="Anable">Anable</option>
												<option value="Disable">Disable</option>
											</select>                      
										 </div>
								</div>
							<div class="modal-footer">
							  <button type="button" onclick="reload()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					  </div>
					  </div>
					<!-- modal 1 -->
				<!-- pop uo modal 1 -->

				<div class="zindex modal fade" id="exampleModal1" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">User Informations</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">

						<!-- form will be used to update user data -->

							<div class="doctorformContainer">
								<form name="doctorregisterForm">
									<div style="display: none;" id="updateduser" class="alert alert-success" role="alert">
										The data was updated succefuly
									  </div>
									<input type="hidden" name="user_id" id="user_id">
									
									<div class="form-group mar inputInline">
									  <input type="text" placeholder="First Name..." id="FirstName" name="FirstName" class="form-control">
									  <input type="text" placeholder="Last Name..." id="LastName" name="LastName" class="form-control">
									</div>
							  
									<div class="form-group mar inputInline">
									  <input type="text" placeholder="Phone..." id="phone" name="phone" class="form-control">
									  <input type="text" placeholder="Email..." id="email" name="email" class="form-control">
									</div>
							  
									<div class="mar input-group">
									  <input type="number" placeholder="Age..." id="age" name="age" class="form-control">
									</div>
							  
									<div class="mar input-group">
									  <input type="text"  placeholder="Adresse..." id="adresse" name="adresse" class="form-control">
									</div>
							  
									<div class="mar input-group">
									  <input type="file" placeholder="Avatar..." name="avatar" id="avatar" class="form-control">
									</div>
							  
									<div class="mar form-group">
									  <select name="location_id" id="locations" class="form-select">
									  </select>     
									</div>
							  
									<div class="mar form-group inputInline">
									  <input type="text" placeholder="Username..." id="username" name="username" class="form-control">
									  <input type="text" placeholder="Password..." id="password" name="password" class="form-control">
									</div>
								</div>
							</div>
						<div class="modal-footer">
							<button id="exitUserModel" type="button" class=" button" data-bs-dismiss="modal">Close</button>
							<button type="button" onclick="updateUser()" class=" button">Update</button>
						</div>
						</div>
					</div>
				</div>

				<!-- pop up modal 2 -->

				
				<div class="zindex modal fade" id="exampleModal2" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Doctor Informations</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">

						<!-- form will be used to update user data -->

						<div  class="doctorinfoformContainer">

							<form name="doctorinfo">
								<div style="display: none;" id="updatedoctor" class="alert alert-success" role="alert">
									The data was updated succefuly
								  </div>
								<input type="hidden" name="doctor_id" id="doctor_id">
							 <div class="mb-1 form-group inputInline">
							  <select name="speciality" id="speciality" class="form-select">
								<option disabled selected>Choose speciality</option>
							  </select>
							  <input type="text" id="matricule" placeholder="Matricule..." name="matricule" class="form-control">
							 </div>
					   
							<div class="mb-1 input-group">
							  <input type="text" id="description" placeholder="Description..." name="description" class="form-control">
							  </div>
							  
							  <div class="schedule">
								<div class="mb-1 input-group">
								  <select name="days" id="days" class="form-select">
								  </select>
								</div>
						
								<div class="mb-1 form-group inputInline">
								  <div  style="width: 49%;" class="input-group">
									<span class="input-group-text" >start Time</span>
									<input type="time" id="startTime" name="startTime" class="form-control">
								  </div>
								  <div  style="width: 49%;"  class="input-group">
									<span class="input-group-text" >close Time</span>
									<input type="time" id="closeTime" name="closeTime" class="form-control">
								  </div>         
								</div>
								<div  class="mb-1 inputInline">
								  <button style="width: 49%;background-color: #0188DF;color: white;" id="scheduleBtn" class="button" type="button">Send</button>
								  <button onclick="reset()" style="width: 49%;background-color: #0188DF;color: white;" id="resetBtn" class="button" type="button">reset</button>
								</div>

								<textarea disabled class="form-control" id="displaySchedule" rows="3"></textarea>
					
							  </div>
						</form>
						
						 </div>
							
							</div>
						<div class="modal-footer">
							<button id="exitDoctorModel" type="button" class=" button" data-bs-dismiss="modal">Close</button>
							<button type="button" onclick="updateDoctor()" class=" button">Update</button>
						</div>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
		<script src="js/dashboard.js"></script>
		<script src="Bootstrap/bootstrap.bundle.min.js"></script>
		<script src="js/AdminDashboard.js"></script>
		
		<script>

		</script>
		<!-- aninate on croll -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

		<script src="ckeditor/ckeditor.js"></script>
		<script>
			CKEDITOR.replace('content');
		</script>
		<script>
			AOS.init({
				duration: 1000,
				delay: 400,
			});
		</script>
	</body>
</html>
