body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3{
        width: 50%;
        margin: 0% auto 0;
        position: relative;
        top: 140px;
        text-align: center;
}
.loginContainer{
    height: 500px;
    width: 400px;
    background-color: #EEEEEE;
    box-shadow: 5px 5px 10px grey;
    width: 70%;
    margin: 2% auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.formContainer{
    width: 50%;
    padding: 10px;
    position: relative;
    left: 20px; 
}
.formContainer input{
    width: 90%;
    margin-bottom: 5px;
}
.contentWrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
.imageContainer{
  width: 50%;
}
.imageContainer img{
  width: 400px;
  margin-left: 40px;
}

.button {
	background:#0188DF;
	color: #fff;
	cursor: pointer;
}
.button:hover {
	box-shadow: 2px 2px black, 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}
 
  .button {
      background:#0188DF;
      color: #fff;
      cursor: pointer;
      width: 30%;
      margin: 3px;
  }
  .button:hover {
      box-shadow: 2px 2px black, 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  }
  .buttons{
    display: flex;
    flex-direction: row;
  }
  .LogRedirect{
    margin-top: 10px;
  }
  /* new register form */
  .inputInline{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .inputInline .up{
    width: 50%;
  }
  .inputInline .up span{
    width: 49%;
    height: 40px;
  } 
   .inputInline .up input{
    width: 49%;
    height: 40px;
  }
  .inputInline input{
    width: 49%;
  }
  .inputInline select{
    width: 49%;
    margin-bottom: 5px;
  }

@media screen and (max-width : 768px) {
    .loginContainer{
        width: 95%;
        height: 500px;
        margin: 30% auto 0;
    }
    .imageContainer img{
      display: none;
    }
    .formContainer{
        width: 100%;
        left: 0px;
        margin: 0;
    }
    .formContainer input{
        width: 100%;
    }
    .formContainer select{
      width: 100%;
  }
  .contentWrapper{
    padding: 0;
  }
  .inputInline .up{
    width: 100%;
  }
}