body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3{
        width: 50%;
        margin: 0% auto 0;
        position: relative;
        top: 140px;
        text-align: center;
}
.loginContainer{
    height: 400px;
    width: 400px;
    background-color: #EEEEEE;
    box-shadow: 5px 5px 10px grey;
    width: 50%;
    margin: 10% auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.loginWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.formContainer{
    width: 50%;
    padding: 10px;
    position: relative;
    left: 20px;
}
.formContainer input{
    width: 90%;
    margin-bottom: 5px;
}
.avatarContainer{
    overflow: hidden;
    width: 50%;
    position: relative;
    right: 20px;
    bottom: 10px;
}
.avatarContainer img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 400px;
}
.button {
	background:#0188DF;
	color: #fff;
	cursor: pointer;
}
.button:hover {
	box-shadow: 2px 2px black, 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}
@media screen and (max-width : 768px) {
    .loginContainer{    
        width: 90%;
        margin: 30% auto 0;
    }
    .avatarContainer{
        width: 0%;
    }
    .avatarContainer img{
        display: none;
    }
    .formContainer{
        width: 100%;
        left: 0px;
    }
    .formContainer input{
        width: 100%;
    }
}