:root {
	--blue: #0188df;
	--black: #354046;
}

* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none !important;
	transition: all 0.2s linear;
}
.spacer{
    width: 100%;
    height: 150px;
}
.headerTitle{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerTitle h2{
    text-align: center;
    color: var(--blue);
}
.headerTitle span{
    color: var(--blue);
}

.button {
	height: 40px;
	width: 150px;
	background: #0188df;
	color: #fff;
	text-transform: capitalize;
	border-radius: 0.5rem;
	cursor: pointer;
	position: relative;
	font-size: 18px;
	border: none;
	margin-left: 20px;
}
.button:hover {
	box-shadow: 0.1rem 0.3rem #354046, 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
.buttonReverse{
    height: 40px;
	width: 150px;
	background: var(--black);
	color: #fff;
	text-transform: capitalize;
	cursor: pointer;
	position: relative;
	z-index: 0;
	overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.buttonReverse:hover{
    box-shadow: 0.1rem 0.3rem white, 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

.post { 
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--black);
    height: auto;
}
.post .doctorPost{ 
  width: 60%;
  background-color: white;
  border-radius: 10px;
  height: auto;
  margin: 20px;
}
.post .doctorPost .title{ 
    margin-top: 20px;
    text-align: center;
}
.post .doctorPost .body{ 
   padding: 10px;
   text-align: left;
}
.post .doctorPost .dateCreated{ 
    color: rgb(128, 128, 128);
    padding: 10px;
 }
  .post .doctorPost .title:hover{
    color: var(--blue);
}
.post .doctorPost .imageHolder img{ 
    height: 400px;
	width: 100%;
    border-radius: 5px;
	object-fit: cover;
  }
  .post .wrapper{
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    
  }
  .post .wrapper .commentPart{
    width: 90%;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .post .wrapper .commentPart h3{
      margin: 10px;
    text-align: center;
  }
  .post .wrapper .commentPart textarea{
    width: 95%;
}
.post .wrapper .commentPart button{
   margin: 10px;
}

.post .sidebar{ 
    width: 90%;
    background-color: white;
    border-radius: 10px;
    height: 400px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.post .sidebar .underline{ 
    width: 90%;
    height: 2px;
    background-color: var(--blue);
}
.post .sidebar .doctorPart {
   display: flex;
    align-items:center ;
    flex-direction: column;
    justify-content:center ;
  
}
.post .sidebar .doctorPart .avatar{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    background-color: var(--blue);
    overflow: hidden;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.post .sidebar .doctorPart .avatar img{
    height: 100%;
	width: 100%;
	object-fit: cover;
}
.post .sidebar .doctorPart .doctorName a{
    color: var(--blue);
}
.post .sidebar .doctorPart .doctorName:hover a{
    color: var(--black);
}
.post .sidebar .doctorPart .speciality p{
    font-size: 20px;
}
.post .sidebar .postReactions{
    margin-top: 10px;
    background-color: #ddd;
    border-radius: 10px;
    width: 90%;
}
.post .sidebar h4{
   margin: 10px;
}
.post .sidebar .postReactions .reactionsHeader h4{
    text-align: center;
}
.post .sidebar .postReactions .rections{
    display: flex;
    align-items: center;
    justify-content: center;
}
.post .sidebar .postReactions .rections .likebar{
   width: 180px;
   height: 8px;
   border-radius: 5px;
   background-color: var(--black);
   position: relative;
   bottom: 20px;
}
.post .sidebar .postReactions .rections .likebar .filler{
    height: 8px;
    background-color: var(--blue);
    border-radius: 5px;

 }
.post .sidebar .postReactions .rections .like,.dislike{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.post .sidebar .postReactions .rections .like i{
    font-size: 30px;
    color:var(--blue);
    margin: 5px;
    text-align: center;
}
.post .sidebar .postReactions .rections .dislike i{
    font-size: 30px;
    color: var(--black);
    margin: 5px;

}
/* commnet part */
.comments{
    width: 100%;
    background-color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.comments .box-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 30px;
	width: 100%;
}

.comments .box-container .box {
	background: #fff;
	width: 320px;
	padding: 1.5rem;
	margin: 20px;
	position: relative;
	border-radius: 10px;
    box-shadow: 0 0 10px #354046;

}

.comments .box-container .box img {
	position: absolute;
	bottom: 1rem;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	object-fit: cover;
}

.comments .box-container .box p {
	color: var(--black);
	font-size: 15px;
}

.comments .box-container .box h5 {
	text-align: end;
	color: var(--blue);
}

.comments .box-container .box span {
	text-align: end;
	color: var(--black);
	display: block;
}
.headering{
    text-align: center;
    margin-top: 20px;
    color: #354046;
}
.headering span{   
    color: #0188df;
}
/* commnet part */
  @media (max-width: 768px) {
    .post {
        flex-direction: column;
    }
    .post .doctorPost{ 
        width: 90%;
    }
    .post .wrapper{   
        width: 100%;
        margin-bottom: 10px;
    }
    .post .sidebar{   
        width: 90%;
    }
    .post .doctorPost .body{ 
        text-align: center;
    }
     .post .doctorPost .imageHolder img{ 
        height: 200px;
    }
}