:root {
	--blue: #0188df;
	--black: #354046;
}

* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none !important;
	outline: none !important;
	text-decoration: none !important;
	text-transform: capitalize;
	transition: all 0.2s linear;
}

.button {
	height: 40px;
	width: 150px;
	background: var(--blue);
	color: #fff;
	text-transform: capitalize;
	border-radius: 0.5rem;
	cursor: pointer;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.button:hover {
	box-shadow: 0.1rem 0.3rem var(--black), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
.buttonReverse{
    height: 40px;
	width: 150px;
	background: var(--black);
	color: #fff;
	text-transform: capitalize;
	cursor: pointer;
	position: relative;
	z-index: 0;
	overflow: hidden;
    border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.buttonReverse:hover{
    box-shadow: 0.1rem 0.3rem white, 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
.heading {
	text-align: center;
	padding: 1rem;
	color: var(--black);
}

.heading span {
	color: var(--blue);
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
    padding: 10px 10px;
	z-index: 1000;
	background-color: #fff;
}
header nav ul li a {
    font-size: 20px;
}
.header-active {
	background: #fff;
	box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header a {
	color: var(--black);
}

header a:hover {
	color: var(--blue);
}

header .container .logo {
	font-size: 32px;
    font-weight: 400;
}

header .container .logo span {
	color: var(--blue);
}

header .nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}

header .nav ul li {
	margin: 0 1rem;
}



header .fa-bars {
	
	color: var(--blue);
	cursor: pointer;
	display: none;
}

.footer {
	background: var(--black);
}

.footer p {
	
	color: #eee;
	padding: 1rem 0;
}

.footer .col-md-4 {
	padding: 1.3rem;
}

.footer .col-md-4:nth-child(1) a {
	
	color: #fff;
}

.footer .col-md-4:nth-child(1) a span {
	color: var(--blue);
}

.footer a {
	
	color: #ccc;
	display: block;
}

.footer h3 {
	color: #fff;
	
}

.footer a:hover {
	color: var(--blue);
}

.footer .credit {
	color: #fff;
	width: 80%;
	margin: 0;
	padding: 2rem 0;
	padding-bottom: 4rem;
	border-top: 0.1rem solid #ccc !important;
}

.footer .credit span {
	color: var(--blue);
}

header .fa-times {
	transform: rotate(180deg);
}
/* my content styles */
.spacer{
    width: 100%;
    height: 150px;
}
.headerTitle{
    width: 100%;
    height: 150px;
}
.headerTitle h2{
    text-align: center;
    color: var(--blue);
}
.doctorCardSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--black);
    padding: 20px;
	width: 100%;
    margin-bottom: 2px;
}
.filterSection{
    background-color: var(--blue);
	display: flex;
	flex-wrap: wrap;
    
}
.filter{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.filter .input-group{
    width: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.filter .input-group input{
    height: 40px;
}

.filter .input-group select{
    height: 40px;
    width: 100%;
}

/* my content card styles */

.cardContainer{
  margin-top:20px;
  margin-bottom: 20px;
  margin: 5px;
  width: 580px;
  height: 220px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.img-container{
  width: 40%;
  height: 220px;
  float: left;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
 border-radius: 5px;
}

.img-container img{
    height: 100%;
	max-width: auto;  
}

.cardContent{
  width: 60%;
  height: 100%;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}
.cardHead a:hover p{
    color: var(--blue);
  }
.cardHead .speciality {
    font-size: 18px;
}
  
.cardHead {
    margin-bottom: 15px;
}
.cardHead p{
  font-size: 28px;
  color: #444444;
  font-weight: 600;
}
.cardContent {
    overflow: hidden;
}
.inner-data{
  width: 50%;
  float: left;
  text-align: left;
  color: black;
}
.cardData .description p {
    font-size: 12px;
}
.rating .stars img {
    width: 30px;
}
@media (max-width: 768px) {

    .cardContainer{
        height: auto;
		width: 100%;
    }
	.cardContainer{
        height: auto;
		width: 90%;
    }
    
	header .fa-bars {
		display: block;
	}

	header .nav {
		position: fixed;
		top: -100rem;
		left: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.3);
		border-radius: 0.5rem;
		border: 0.3rem solid var(--blue) !important;
		background: #fff;
		width: 95%;
		opacity: 0;
	}

	header .nav ul {
		width: 100%;
		flex-flow: column;
		padding: 2rem 0;
	}

	header .nav ul li {
		width: 100%;
		text-align: center;
		margin: 1rem 0;
	}

	header .nav ul li a {
		display: block;
	}

	header .nav-toggle {
		top: 50%;
		opacity: 1;
	}

	.filter .input-group{
		width: 90%;
	}

}