<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="sass/register.css">


  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <style></style>
  <title>DoctorCO | Register</title>
</head>
<body>
  <h3 style="z-index: 100; position: relative; top: 70px;">Register</h3> 
 <div data-aos="flip-up" data-aos-duration="3000" class="loginContainer">
   
    <div class="contentWrapper">
      <div  class="formContainer">
        <div id="alertSuccess" style="display: none;" class="alert " role="alert">
          Registration was successfull
        </div>
        <form name="registerForm">
         <div class="mar form-group mb-1 inputInline">
           <input id="FirstName" type="text" placeholder="First Name..." name="FirstName" class="form-control">
           <input id="LastName" type="text" placeholder="Last Name..." name="LastName" class="form-control">
         </div>
   
         <div class="form-group mb-1 inputInline">
           <input id="phone" type="text" placeholder="Phone..." name="phone" class="form-control">
           <input id="email" type="text" placeholder="Email..." name="email" class="form-control">
         </div>
   
         <div class="input-group mb-1">
           <input id="age" type="number" placeholder="Age..." name="age" class="form-control">
         </div>
   
         <div class="input-group mb-1">
           <input id="adresse" type="text"  placeholder="Adresse..." name="adresse" class="form-control">
         </div>
   
         <div class="input-group mb-1">
           <input type="file" placeholder="Avatar..." name="avatar" id="avatar" class="form-control">
         </div>
   
         <div class="form-group inputInline">
           <select name="location_id" id="locations" class="form-select">
             <option disabled selected>Choose your location</option>
           </select>

           <select id="role" name="role" class="form-select">
             <option disabled selected>Shoose your position</option>
             <option value="Client">Client</option>
             <option value="Doctor">Doctor</option>
           </select>      
         </div>
   
         <div class="form-group mb-1 inputInline">
           <input id="username" type="text" placeholder="Username..." name="username" class="form-control">
           <input id="password" type="password" placeholder="Password..." name="password" class="form-control">
         </div>
   
         <div class="input-group mb-2">
           <button id="sendDataBtn" class="button form-control" type="button" >Submit</button>

          </div>
   
         <p>Already have an account ? <a href="login.html">Login Now</a></p>

        </form>
     </div>
     <div class="imageContainer">
      <img src="images/register.svg" alt="">
    </div>
    </div>
   
 </div>

  <script src="Bootstrap/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="js/register.js"></script>

  <script>
    AOS.init();
  </script>
    <!-- logic -->
<script>
 
</script>
</body>
</html>