@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

:root {
	--blue: #0188df;
	--black: #354046;
}

* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none !important;
	outline: none !important;
	text-decoration: none !important;
	text-transform: capitalize;
	font-weight: 400;
	transition: all 0.2s linear;
}
section {
	overflow: hidden;
}


.button {
	height: 40px;
	width: 150px;
	background: var(--blue);
	color: #fff;
	text-transform: capitalize;
	border-radius: 0.5rem;
	cursor: pointer;
	position: relative;
	font-size: 18px;
	border: none;
	margin-left: 20px;
}

.button:hover {
	box-shadow: 0.1rem 0.3rem var(--black), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

.heading {
	text-align: center;
	padding: 1rem;
	color: var(--black);
}

.heading span {
	color: var(--blue);
}
#mynavi{
	background-color: white;
	box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
#mynavi .container .mynaviItem{
	color: var(--black);
}
#mynavi .container a {
	color: var(--black);
	text-decoration: none;
	font-size: 20px;
}
#mynavi .container a:hover {
	color: var(--blue);
}
#mynavi .container .logo span{
	color: var(--blue);
	font-size: 25px;
}
#mynavi .container .logo {
	font-size: 25px;
}
.navbar .dropdown-menu {
	background-color: var(--blue);
	color:#354046;
}
.navbar .dropdown-menu li:hover {
	background-color: #354046;
}
/* 
header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 2rem 1rem;
	z-index: 1000;
	background-color: #fff;
}

.header-active {
	background: #fff;
	box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
	padding: 0.5rem 1rem;
}

header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header a {
	font-size: 20px;
	font-weight: 400;
	color: var(--black);
}

header a:hover {
	color: var(--blue);
}

header .container .logo {
	font-size: 30px;

}

header .container .logo span {
	color: var(--blue);
}

header .nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}

header .nav ul li {
	margin: 0 1rem;
}
header .fa-bars {
	color: var(--blue);
	cursor: pointer;
	display: none;
}
 */
.home .content h1 {
	color: var(--black);
}

.home .content h1 span {
	color: var(--blue);
}

.home .content h3 {
	color: var(--black);
}

.about {
	background: #eee;
}

.about .content .box {
	margin: 3rem 0;
}

.about .content .box h3 {
	color: var(--black);
}

.about .content .box h3 i {
	padding: 0 1rem;
	color: var(--blue);
}

.about .content .box p {
	padding-left: 6rem;
	color: #666;
}

.facility {
	min-height: 100vh;
}

.facility .box-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 3rem;
}

.facility .box-container .box {
	height: 20rem;
	width: 30rem;
	margin: 0.3rem;
	overflow: hidden;
}

.facility .box-container .box img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.facility .box-container .box:hover img {
	transform: scale(1.3);
}

.review {
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
}

.review .heading {
	color: #fff;
}

.review .box-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 30px;
	width: 100%;
}

.review .box-container .box {
	background: #fff;
	width: 320px;
	padding: 1.5rem;
	margin: 20px;
	position: relative;
	border-radius: 10px;
}

.review .box-container .box img {
	position: absolute;
	bottom: 1rem;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	object-fit: cover;
}

.review .box-container .box p {
	color: var(--black);
	font-size: 15px;
}

.review .box-container .box h5 {
	text-align: end;
	color: var(--blue);
}

.review .box-container .box span {
	text-align: end;
	color: var(--black);
	display: block;
}


.counter .box-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 2rem 0;
}

.counter .box-container .box {
	text-align: center;
	border-radius: 10%;
}

.counter .box-container .box i {
	color: var(--blue);
}

.counter .box-container .box span {
	color: var(--black);
	display: block;
	padding: 1rem 0;
}

.counter .box-container .box h3 {
	color: #666;
}

.contact {
	background: var(--black);
}

.contact .heading {
	color: #fff;
}

.loginContainer{
    height: 500px;
    width: 400px;
    background-color: #EEEEEE;
    box-shadow: 5px 5px 10px grey;
    width: 70%;
    margin: 8% auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.formContainer{
    width: 70%;
    padding: 10px;
    position: relative;
    left: 20px;
}
.contentWrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.inputInline{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
	margin-bottom: 10px;
  }

  .inputInline input{
    width: 49%;
  }
  .inputInline select{
    width: 49%;
    margin-bottom: 5px;
  }
      
.post .box-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.post .box-container .box {
	width: 320px;
	margin: 2rem 1rem;
	overflow: hidden;
	border-radius: 0.5rem;
	box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.post .box-container .box img {
	height: 180px;
	width: 100%;
	object-fit: cover;
}

.post .box-container .box .content {
	padding: 15px;
}
.post .box-container .box .content .button{
	font-size: 20px;
}

.post .box-container .box .content span {
	color: #666;
	display: block;
	padding: 15px;
}

.post .box-container .box .content h4 {
	color: var(--black);
}

.post .box-container .box .content:hover h4 {
	color: var(--blue);
}

.post .box-container .box .content p {
	color: var(--black);
	font-size: 15px;
}

.footer {
	background: var(--black);
}

.footer .logo span,a{
	font-size: 25px;
}

.footer p {
	color: #eee;
	padding: 1rem 0;
}

.footer .col-md-4 {
	padding: 1.3rem;
}

.footer .col-md-4:nth-child(1) a {
	color: #fff;
}

.footer .col-md-4:nth-child(1) a span {
	color: var(--blue);
}

.footer a {
	color: #ccc;
	display: block;
}

.footer h4 {
	color: #fff;
}

.footer a:hover {
	color: var(--blue);
}

.footer .credit {
	color: #fff;
	width: 80%;
	margin: 0;
	padding: 2rem 0;
	padding-bottom: 4rem;
	border-top: 0.1rem solid #ccc !important;
}

.footer .credit span {
	color: var(--blue);
}

header .fa-times {
	transform: rotate(180deg);
}

/* media queries  */

@media (max-width: 768px) {

	header .fa-bars {
		display: block;
	}

	header .nav {
		position: fixed;
		top: -100rem;
		left: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.3);
		border-radius: 0.5rem;
		border: 0.3rem solid var(--blue) !important;
		background: #fff;
		width: 95%;
		opacity: 0;
	}

	header .nav ul {
		width: 100%;
		flex-flow: column;
		padding: 2rem 0;
	}

	header .nav ul li {
		width: 100%;
		text-align: center;
		margin: 1rem 0;
	}

	header .nav ul li a {
		display: block;
	}

	header .nav-toggle {
		top: 50%;
		opacity: 1;
	}

	.contact form .inputBox input,
	select {
		width: 100%;
	}

	.contact form input[type="submit"] {
		width: 100%;
	}
}

/*login container styles*/

.logincontainer {
	width: 100%;
}
