<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- bootstrap cdn link  -->
	<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link rel="stylesheet" href="addOns/navbar.css">
    <link rel="stylesheet" href="addOns/footer.css">
    <link rel="stylesheet" href="sass/table.css">
    <link rel="stylesheet" href="sass/userProfile.css">
    <title>DoctorCO | user profile</title>
    <script>
    if (sessionStorage.getItem("role") != "Client") {
        window.location.href = "index.html";
    }
    </script>
</head>
<body>
    <header id="header"> </header>

    <div class="spacer"></div>
		<!-- bage heading -->
		<div class="headerTitle">
			<h1 class="heading">
				<span>'</span> User porfile <span>'</span>
			</h1>
		</div>

        <section class="userprofile">
            <div class="userSection">
                <div class="imageHolder">
                    <img id="avatar" src="images/QTR11061.JPG" alt="">
                </div>
                <div class="infoHolder">
                <div class="wrapper">
                    <div class="herderinfo">
                        <h3>Your infos</h3>
                    </div>
                    <div class="name">
                        Name : <span id="name" class="data"></span>
                    </div>
                    <div class="phone">
                        Phone : <span id="phone" class="data"></span>
                    </div>
                    <div class="adress">
                      Adress :  <span id="adress" class="data"></span>
                    </div>
                    <div class="username"> 
                        Username : <span id="username" class="data"></span>
                    </div>
                    <div class="email">
                        Email :   <span id="email" class="data"></span>
                    </div>
                    <div class="password">
                        Password :  <span id="password" class="data"></span>
                    </div>
                    <div class="age">
                        Age : <span id="age" class="data"></span>
                    </div>
                </div>
                    <div class="spacerline"></div>
                    
                    <div class="wrapper">
                        <div class="herderinfo">
                            <h3>Actions</h3>
                        </div>
                    <div class="actions">
                        <button onclick="readSingleUser()" class="probutton" data-bs-toggle="modal" data-bs-target="#personalinfos">update</button>
                        <button style="background-color: rgb(182, 50, 50);" class="probutton">Desctivate</button>
                    </div>
                </div>
                </div>
            </div>
            <div class="youAddintionSection">
                <div class="comments">
                    <ul class=" responsive-table">
                        <li class="table-header">
                          <div class="col col-1">index</div>
                          <div class="col col-3">post index</div>
                          <div class="col col-4">date created</div>
                          <div class="col col-4">Actions</div>
                          
                        </li>
                        </ul>
                    <div  class="container">
        <ul id="commentsHolder" class=" responsive-table">
          
        </ul>
      </div>

                </div>
                <div class="reviews">
                    <ul class="responsive-table">
                        <li class="table-header">
                          <div class="col col-1">index</div>
                          <div class="col col-3">doctor index</div>
                          <div class="col col-4">stars</div>
                          <div class="col col-4">date created</div>
                          <div class="col col-4">Actions</div>
                          
                        </li>
                        </ul>
                    <div  class="container">
        <ul id="reviewHolder" class="responsive-table">

        </ul>
      </div>

                </div>
            </div>
        </section>
        <!-- modal 1 -->
        <div class="modal fade" id="ReviewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Review</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div id="alertSuccessReview" style="display: none;" class="" role="alert">
                    review updated
                  </div>
                    <input id="reviewID" type="hidden" name="">
                    <div class="input-group mb-1">
                        <input id="stars" type="number" placeholder="number of stars" name="stars" max="5" min="1" class="form-control">
                      </div>
                      <div class="input-group mb-1">
                        <textarea id="review" class="form-control" placeholder="Review..." name="" id="comment" cols="30" rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" onclick="reload()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" onclick="updateReview()" class="btn btn-primary">update review</button>
                </div>
              </div>
            </div>
          </div>
        <!-- modal 1 -->

        <!-- modal 2 -->
        <div class="modal fade" id="CommentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Comment</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div id="alertSuccess" style="display: none;" class="" role="alert">
                    comments updated
                  </div>
                  <input id="commentID" type="hidden" name="">
                    <div class="input-group mb-1">
                        <textarea id="comment" class="form-control" placeholder="comment..." name="" id="comment" cols="30" rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" onclick="reload()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button onclick="updateComment()"  type="button" class="btn btn-primary">update comment</button>
                </div>
              </div>
            </div>
          </div>
        <!-- modal 2 -->

        <!-- modal 3 -->
        <div class="modal fade" id="personalinfos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">update your informations</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <form name="doctorregisterForm">
                          <div id="alertSuccessUser" style="display: none;" class="" role="alert">
                            information updated
                          </div>
                            <div style="display: none;" id="updateduser" class="alert alert-success" role="alert">
                                The data was updated succefuly
                              </div>
                            <input type="hidden" name="user_id" id="Muser_id">
                            
                            <div class="form-group mb-2 inputInline">
                              <input type="text" placeholder="First Name..." id="MFirstName" name="FirstName" class="form-control">
                              <input type="text" placeholder="Last Name..." id="MLastName" name="LastName" class="form-control">
                            </div>
                      
                            <div class="form-group mb-2 inputInline">
                              <input type="text" placeholder="Phone..." id="Mphone" name="phone" class="form-control">
                              <input type="text" placeholder="Email..." id="Memail" name="email" class="form-control">
                            </div>
                      
                            <div class="mb-2 input-group">
                              <input type="number" placeholder="Age..." id="Mage" name="age" class="form-control">
                            </div>
                      
                            <div class="mb-2 input-group">
                              <input type="text"  placeholder="Adresse..." id="Madresse" name="adresse" class="form-control">
                            </div>
                      
                            <div class="mb-2 input-group">
                              <input type="file" placeholder="Avatar..." name="avatar" id="Mavatar" class="form-control">
                            </div>
                      
                            <div class="mb-2 form-group">
                              <select name="location_id" id="Mlocations" class="form-select">
                              </select>
                            </div>
                      
                            <div class="mb-2 form-group inputInline">
                              <input type="text" placeholder="Username..." id="Musername" name="username" class="form-control">
                              <input type="text" placeholder="Password..." id="Mpassword" name="password" class="form-control">
                            </div>
                        </div>
                    </form>
                       
                <div class="modal-footer">
                  <button type="button" onclick="reload()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" onclick="updateUser()" class="btn btn-primary">update infos</button>
                </div>
              </div>
            </div>
          </div>
        <!-- modal 3 -->
                
                
    <footer id="footer"></footer>
    <!-- boostrap pooper and js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- jquery cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- addons -->
    <script src="js/addOns.js"></script>
    <script src="js/userProfile.js"></script>
    
    <script>
       
    </script>
</body>
</html>