@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");


$mainblue : #0188df;
$maindark : #354046;


@mixin displayFlexWrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  @mixin displayFlex{

    display: flex;
    justify-content: center;
    align-items: center;
  }

  * {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    text-decoration: none !important;
    text-transform: capitalize;
    transition: all 0.2s linear;
  }
  
  .button {
    height: 40px;
    width: 150px;
    background: $mainblue;
    color: #fff;
    text-transform: capitalize;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border: none;
  
    &:hover {
      box-shadow: 0.1rem 0.3rem $maindark, 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    }
  }
  
  .heading {
    text-align: center;
    padding: 1rem;
    color: $maindark;
  
    span {
      color: $mainblue;
    }
  }
  
  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 10px;
    z-index: 1000;
    background-color: #fff;
  
    nav ul li a {
      font-size: 20px;
    }
  }
  
  .header-active {
    background: #fff;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  }
  
  header {
    .headeCcontainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    a {
      color: $maindark;
  
      &:hover {
        color: $mainblue;
      }
    }
  
    .headeCcontainer .logo {
      font-size: 32px;
      font-weight: 400;
  
      span {
        color: $mainblue;
      }
    }
  
    .nav ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
  
      li {
        margin: 0 1rem;
      }
    }
  
    .fa-bars {
      color: $mainblue;
      cursor: pointer;
      display: none;
    }
  }
  
  .footer {
    background: $maindark;
  
    p {
      color: #eee;
      padding: 1rem 0;
    }
  
    .col-md-4 {
      padding: 1.3rem;
  
      &:nth-child(1) a {
        color: #fff;
  
        span {
          color: $mainblue;
        }
      }
    }
  
    a {
      color: #ccc;
      display: block;
    }
  
    h3 {
      color: #fff;
    }
  
    a:hover {
      color: $mainblue;
    }
  
    .credit {
      color: #fff;
      width: 80%;
      margin: 0;
      padding: 2rem 0;
      border-top: 0.1rem solid #ccc;
  
      span {
        color: $mainblue;
      }
    }
  }
  
  header .fa-times {
    transform: rotate(180deg);
  }
  
  /* my content styles */
  
  .spacer {
    width: 100%;
    height: 150px;
  }
  
  .headerTitle {
    width: 100%;
    height: 150px;
  
    h2 {
      text-align: center;
      color: $mainblue;
    }
  }
  
  /* doctor profile container */
  
  /* buuton reverse styles */
  
  .buttonReverse {
    height: 40px;
    width: 150px;
    background: $maindark;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border: 0;
    border-radius: 5px;
    overflow: hidden;
  
    &:hover {
      box-shadow: 0.1rem 0.3rem white, 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    }
  }
  
  .addPostContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: $maindark;
    height: auto;
    margin-bottom: 20px;
  
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      box-shadow: 0 0 10px $maindark;
      flex-direction: row;
    }
  }
  
  .buttonSource {
    height: 40px;
    width: 90px;
    background: $maindark;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border: 0;
    overflow: hidden;
    border-radius: 0px 5px 5px 0px;
  }
  
  .addPostContainer .sidebar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 465px;
    border-radius: 10px;
    box-shadow: 0 0 10px $maindark;
  
    .addCategories {
      width: 80%;
      background-color: $mainblue;
      border-radius: 10px;
      height: 200px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;
      padding: 15px;
  
      .input-group {
        margin-bottom: 20px;
        width: 90%;
      }
    }
  }
  
  .controle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .addPostContainer {
    .sidebar {
      .controle {
        color: white;
        padding: 15px;
  
        .input-group {
          margin-bottom: 20px;
          width: 90%;
        }
      }
  
      .addCategories .input-group input {
        height: 40px;
      }
  
      .controle {
        width: 80%;
        background-color: $mainblue;
        border-radius: 10px;
        height: 200px;
      }
    }
  
    .formHolder {
      width: 60%;
      margin: 20px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 10px $maindark;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
      .input-group {
        width: 100%;
      }
  
      input, textarea {
        width: 80%;
      }
    }
  }
  
  @media (max-width: 768px) {
    header {
      .fa-bars {
        display: block;
      }
  
      .nav {
        position: fixed;
        top: -100rem;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.3);
        border-radius: 0.5rem;
        border: 0.3rem solid $mainblue !important;
        background: #fff;
        width: 95%;
        opacity: 0;
  
        ul {
          width: 100%;
          flex-flow: column;
          padding: 2rem 0;
  
          li {
            width: 100%;
            text-align: center;
            margin: 1rem 0;
  
            a {
              display: block;
            }
          }
        }
      }
  
      .nav-toggle {
        top: 50%;
        opacity: 1;
      }
    }
  
    .addPostContainer {
      .wrapper {
        width: 100%;
        flex-direction: column;
      }
  
      .formHolder {
        width: 90%;
      }
  
      .sidebar {
        width: 90%;
        margin-bottom: 20px;
      }
    }
  }